body {
  background-color: rgb(8, 70, 8);
  color: white;
}

.container {
  background-color: rgb(8, 70, 8);
}

/* nav {
  position: fixed;
  left: 0;
  top: 0;
} */

footer {
  /* position: fixed;
  left: 0;
  bottom: 0; */
  text-align: center;
  width: 100%;
  padding: 10px;
  margin: 0%;
  background-color: rgb(8, 70, 8);
}

h2 {
  padding: 5px;
}
